Flask
Werkzeug
flask-cors
python-dotenv
flask-sqlalchemy
flask-migrate
pymysql
sqlalchemy
psycopg2-binary
flask-cors
flask-login
flask-mail
pyjwt
pyotp
celery
redis
flower
sqlalchemy-utils
requests
flask-socketio
python-socketio
flask-limiter
py-vapid
pywebpush
